@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>OAuth Sample Application</h1>
    <p class="lead">Follow the link to a sample application which demonstrates connecting to Authorize.Net using the OAuth 2.0 authentication standard.</p>
    <p><a href="~/Demo" class="btn btn-primary btn-lg">Go to Demo &raquo;</a></p>
</div>